/*/
 * Style the action buttons
/*/

#action-buttons span {
    padding: 0 15px 64px;
}

#action-buttons button {
    width: 100%;
}

#buttons {
    margin-top: 2rem;
}

#buttons span, button{
    height: 100%;
}

#action-button-removeAll {
    float: right;
}

.filenameContainer {
    overflow: hidden;
    margin: auto;
}

#attachmentHeaders{
    margin-bottom: 2rem;
}

.filename {
    margin: 0 0 0 0;
}

.attachmentsRow {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.removeButton{
    float: right;
}

.glyphicon {
    margin-right: 1rem;
}

#action-button-download {
    float: right;
}

#download {
    float: right;
}
