.indent1 {
    margin-left: 32px;
}

.indent2 {
    margin-left: 64px;
}

.indent3 {
    margin-left: 96px;
}

p.indent1 {
    margin-left: 64px;
}

p.indent2 {
    margin-left: 96px;
}

p.indent3 {
    margin-left: 128px;
}

.fieldRows {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.fieldRows > * {
    margin-bottom: 0;
}

.indent0 > label {
    margin-left: 0;
}

.field-info-button {
    min-width: 24px;
    max-width: 24px;
    margin-right: 8px;
}

.field-info-button .glyphicon {
    padding-top: 2px;
}

.field-add-button .glyphicon {
    padding-top: 1px;
    padding-left: 1px;
}

.field-label {
    flex-grow: 1;
}

.title{
    margin-left: 32px;
}

.field-label:first-child {
    margin-left: 32px;
}

.field-code {
    text-align: right;
    min-width: 50px;
    max-width: 50px;
}

.field-input {
    min-width: 200px;
    max-width: 200px;
    margin-left: 8px;
}

.field-add-button {
    min-width: 24px;
    max-width: 24px;
    margin-left: 8px;
}

.field-input:last-child {
    margin-right: 32px;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

.btn-round span {
    margin-right: 0;
}

.info-button {
    margin-right: 1rem;
    display: inline-block;
}

#sectionc-container{
    margin: 32px 64px;
    display: flex;
    flex-direction: column;
}
