.indent1 {
    margin-left: 4rem;
}

.indent2 {
    margin-left: 8rem;
}

.indent3 {
    margin-left: 12rem;
}

.fieldRows {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.fieldRows > div > * {
    margin-bottom: 0;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

.btn-round span {
    margin-right: 0rem;
}

.info-button {
    margin-right: 1rem;
    display: inline-block;
}
